body {
  font-family: 'Lobster' !important;
  background:#eeeded !important;
}
/*a {
  color:#fff !important;
}*/
.bg-black {
  background-color:#000 !important;
}
.navbar-brand img {
  margin-top:-5px;
}

.navbar-brand *{
  color:#fff !important;
}

.jumbotron {
  height:200px;
  overflow:hidden;
}

.jumbotron #details {
  margin-top:50px;
  position:absolute;
}

.jumbotron img {
  width:110%;
  margin-top:-50px;
  margin-left:-50px;
}

.jumbotron #details span {
  color:red;
}

footer {
  background: #000;
  color:#fff;
  height:50px;
  line-height:50px;
  letter-spacing:1px;
}

.popular {
  background:#fff;
  padding:20px;
  border-radius:10px;
  border:1px solid #e3e3e3;
}

.popular img {
  width:50%;
  margin-top:12px;
}

section .widgets {
  margin-top:20px;
  margin-bottom:20px;
}

.popularpost-head {
  position:absolute;
  margin-left:-110px;
}
.popularpost-para {
  position:absolute;
  margin-top:30px;
  margin-left:-110px;
  font-family:arial !important;
  font-size:12px;
  font-weight:bold;
}

.popular .details {
  margin-left:-5px;
  margin-top:20px;
}

.popular ul li {
  list-style:none;
}

.popular .row2 {
  margin-left:50px;
}

.popular i {
  color:#000;

}
.popular i:hover {
  color:#333;
}

.coursel {
  border-radius:20px;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
      border-radius:20px;
  }

  .post {
    background: #fff;
    border:1px solid #e3e3e3;
    margin:15px 0px;
  }

  .post .post-date {
    padding:20px;
    text-align:center;
  }

  .post .post-date .day {
    font-size : 30px;
      color : #24A7CF;
  }

  .post .post-date .year {
    font-weight:100;

  }

  .post .post-title {
    padding:5px 20px;
    border-left:1px solid #e3e3e3;
  }

  .post .post-title span {
    color : #24A7CF;
    font-weight:100;
    margin-left:10px;
  }

  .post .profile-picture {
    padding:20px;
  }

  .post .profile-picture img {
    width:80%;
  }

  .post > a > img {
    width:100%;
  }

  .post .desc {
    font-family: Arial;
    font-weoght:100;
    padding:15px;
    line-height:20px;
  }

  .post >a.btn {
    margin-left:15px;
    margin-bottom:20px;
  }

  .post .bottom {
    padding:10px 20px;
    border-top:1px solid #e3e3e3;
    color:#c6c6c6;
  }

  .post .bottom .first {
    margin-right:20px;
  }
  .post .bottom .second {
    margin-left:20px;
  }

  nav .pagination1 {
    text-align:center;
  }

  .pagination > li > a {
    color:#24A7CF;
    padding:15px 24px;
    font-size:1em;
  }

  @media (max-width:786px){
    .jumbotron #details {
      margin-top:60px;
    }

    .post .post-title {
      margin-top:-30px;
      text-align:center;
    }

    .post .profile-picture {
      text-align:center;
    }
    .post .profile-picture img{
      width:20%;
    }

    .pagination > li > a {
      font-size:13px;
      padding:10px 12px;
      text-align:center;
    }

    footer {
      font-size:15px;
      letter-spacing: 0px;
    }
  }

  @media (max-width:992px) {
    .post .profile-picture {
      text-align:center;
      margin-top:-40px;
    }
    .post .post-title {
      text-align:center;
    }

    .post .profile-picture img{
      width:20%;
    }
  }
